.bigmenu{
  height: 100%;
  border: 2px solid black;
  padding: 60px 10px 20px 20px;
}
.up{
  display: flex;
  justify-content: space-around;
  height: 133px;
  margin-bottom: 50px;
}
.logo{
  width: 48px;
}
.title{
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  margin: 10px 0 20px
}
.addres{
  font-size: 16px;
}
.phone{
  font-size: 24px;
}
.item{
  text-decoration: underline;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}
.list{
  list-style-type: none;
  margin-left: 15px;
}
