.title{
  display: block;
  width: 30%;
  font-family: 'Lora', serif;
  font-size: 36px;
  font-weight: bold;
  padding:20px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
}
@media screen and (min-device-width: 360px) and (max-device-width: 889px) {
  .header{
    display: none;
  }
}
.addres{
  font-size: 16px;
}
.phone{
  font-size: 24px;
}
.lang{
   border: none;
   cursor: pointer;
   background-color: transparent;
 }
.lang:after{
  content: "/";
}
.lang:last-child:after{
  content: " ";
}
.button{
  width: 264px;
}
