.panel{
  display: flex;
  justify-content: space-between;
}
.Photo{
  height: 387px;
}
@media screen and (min-device-width: 360px) and (max-device-width: 889px) {
  .panel{
    flex-direction: column;
    width: 100%;
  }
  .Photo{
    width: 98% !important;
    margin: 10px;
  }
}
